<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Video</title>
</head>
<body>
    <!-- Heading links to YouTube video in a new tab -->
    <a href="https://www.youtube.com/watch?v=Z1RJmh_OqeA&t=856s" target="_blank">
        <h1>Watch Our Video</h1>
    </a>
    <!-- Embedded YouTube video -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z1RJmh_OqeA" 
        title="YouTube video player" frameborder="0" allowfullscreen></iframe>
</body>
</html>